<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>email</title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8" />
</head>
<body>



<div ng-app="emailApp" ng-controller="emailControl">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">邮件群发</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <!--<li><a href="#"><span class="glyphicon glyphicon-user"></span></a></li>-->
                <li><a>{{userName}}</a> </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div style="font-size:24px;font-weight:bold;margin-bottom:20px;">
            发送邮件
        </div>
        <div class="col-md-8">
<div class="form-group">
    <label for="eaddress">邮箱地址</label>
    <input id="eaddress"type="email" id="emailAddress" class="form-control" ng-model="emailAddress" style="width:400px;"/>
</div>
<div class="form-group">
    <label>邮件标题</label>
    <input type="text" id="emailTitle" class="form-control" ng-model="emailTitle" style="width:400px">
</div>
<div class="form-group">
    <label style="text-align: left;width:475px;margin:auto;margin-bottom:20px;">
        邮件正文
    </label>
    <textarea rows="5" style="width: 50%;" ng-model="emailContent" id="emailContent" class="form-control"></textarea>
</div>
        <div style="padding-top:30px">
            <button class="btn-primary btn-lg" id="sendEmailBtn" ng-click="send()">发送</button>
        </div>
        </div>
    </div>

</div>

<!--<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js" charset="utf-8"></script>-->
<script src="./html/angular.min.js"></script>
<script>
    var emailApp = angular.module('emailApp',[]);
    emailApp.controller('emailControl',function ($scope,$http) {
        $http({
            method:'get',
            url:'/userInfo'
        }).success(function (res) {
            console.log(res)
            $scope.userName = res.username
        })
        $scope.send = function () {
            //console.log($scope.emailAddress);
            var emailAddressList = $scope.emailAddress.split(',');
            console.log(emailAddressList);
            $http({
                method:'post',
                url:'/email/post',
                data:{
                    emailAddress:emailAddressList,
                    emailTitle:$scope.emailTitle,
                    emailContent:$scope.emailContent
                }
            }).success(function (res) {
                if(res.success === true){
                                        console.log(res)
                                        alert('发送成功!');
                                    }
            })
        }

    })

    //    $('#sendEmailBtn').click(function () {
    //        var emailAddress = $('#emailAddress').val();
    //        var emailTitle = $('#emailTitle').val();
    //        var emailContent = $('#emailContent').val();
    //        $.ajax({
    //            type:'post',
    //            dataType:'json',
    //            url:'/email/post',
    //            data:{
    //                emailAddress:emailAddress,
    //                emailTitle:emailTitle,
    //                emailContent:emailContent
    //            },
    //            success:function (res) {
    //                if(res.success === true){
    //                    console.log(res)
    //                    alert('发送成功!');
    //                }
    //            }
    //        })
    //    })

</script>
</body>
</html>